
<script>
  document.onreadystatechange = () => {
    if (document.readyState === 'complete') {
      document.getElementById("containerLoader").classList.add('hide'); 

      setTimeout(function(){ 
        document.getElementById("containerLoader").style.display = 'none';
      }, 1000);
    }
  };
</script>
</body>

<footer>
  <i class="fa fa-copyright copyright" aria-hidden="true">©2022 Made with ❤️ by theAlphaCoder06</i>
</footer>

</html>
